body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}

/* -------------------------------------------header start------------------------------- */

.full-wrapper{
    width: 100%;
   background-color: #000;
}

.nav{
   max-width: 1000px;
   margin: 0 auto;
   color: #fff;
}

.nav .left{
    float: left;
}

.nav .right{
    float: right;
}

.nav ul li{
    float: left;
    list-style-type: none;
    padding-right: 30px;
    margin-top: 10px;
    font-size: 12px;
    
}

.nav ul li span{
    background-color: black;
    color: #ca985d;
}

.nav img{
    float: left;
    clear: both;
}

.nav .size{
    width: 20px;
    float: left;
    clear: both;
}

.nav h5{
    float: left;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
}

.nav-icon{
    position: relative;
    left: 10px;
    top: 45px;
}

/* -----------------------------------------------------header over--------------------------- */

/* -------------------------------------------------------banner start--------------------------- */

.banner{
    width: 100%;
    height: 100%;
    background-color: #282725;  
}

#size{
    max-width: 1000px;
    margin: 0 auto;
}

.banner-text .top img{
    width: 30%;
}

.comman{
   padding: 0px 4%;
}

.banner-text .center{
    text-align: center;
    position: relative;
    top: -80px;
    
}

.banner-text .center h1{
    color: #ca985d;
    font-size: 40px;
    margin: 0px;
} 

.banner-text .center p{
    color: grey;
    text-align: center;
    font-size: 14px;
} 

.banner-text .center p span{
   color: #ca985d;
} 

button{
    width: 140px;
    background-image: url(../img/tm-brown-button.png);
    background-position: center center;
    background-size: cover;
    padding: 7px 12px;
    border-radius: 15px;
    margin-top: 1%; 
    color: #ca985d; 
}

.banner-text .down img{
    width: 100%;
    height: 60%;
    position: relative;
    top: -120px;
}

/* -------------------------------------------------------banner over---------------------------------------- */

/* -----------------------------------------------------banner bottom start------------------------------------- */

.bottom{
    width: 100%;
    background-color: #dbdbdb;
    overflow: hidden;
}

.bottom-box{
    padding: 150px 0 80px;
}

.bottom-box .left{
    width: 75%;
    float: left;
}

.bottom-box .left h3{
   color: #ca985d;
   font-family: 'Lobster', cursive;
   letter-spacing: 2px;
   margin-bottom: 10px;
}

.bottom-box .left h2{
   color: #393333;
    font-weight: 300;
    margin: 0;
}

.bottom-box .left span{
    color: #1177bf;
}

.bottom-box .left p{
   font-size: 12px;
}

.bottom-box .right{
    width: 20%;
    float: right;
}

.bottom-box .right img{
    width: 90%;
    border-radius: 100%;
    border: 10px solid #fff;
}

.bottom .line{
    margin: 20px 0;
}


.bottom .line img{
    float: left;
}

.bottom .line h3{
    float: left;
    color: #ca985d;
    margin: 0 10px;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

/* ---------------------------------------------------------------banner bottom over------------------------------------ */

/* ------------------------------------------------------------three box start---------------------------------------------- */

.three-section .left{
    width: 30%;
    text-align: center;
    background-color: #fff;
    float: left;
    margin-right: 3.33%;
}

.three-section .left img{
    width: 100%;
}

.three-section .left h3{
  color: #afb0b2;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 20px;
}

.three-section .left hr{
    width: 85%;
}

.three-section .left p{
    font-size: 12px;
}

.three-section .left button{
   width: 18%;
   border-radius: 100%;
   color:  #afb0b2;
   border: 2px solid #afb0b2;
   font-family: 'Lobster', cursive;
   position: relative;
   bottom: -28px;
}

/* --------------------------------------------------------three box over--------------------------------------------------- */

/* -----------------------------------------------------four box satrt--------------------------------------------------------- */

.four-section{
    padding: 50px 0;
}

.four-section .left{
    width: 48%;
    float: left;
}

.four-section .left img{
    width: 100%;
    border: 7px solid #fff;
}

.four-section .right{
    width: 48%;
    float: right;
}

.four-section .right img{ 
    border: 7px solid #fff;
    width: 100%;
    height: 25%;
}

.right .comman{
    width: 100%;
    padding-left: 0;
}

.right .comman img{
    margin-top: 5%;
    width: 46%;
    height: 20%;
}

/* ----------------------------------------------------four box over--------------------------------------------------------- */

/* ----------------------------------------------------daily box start---------------------------------------------------------- */

.daily-manu .left{
    width: 40%;
    float: left;
    padding-bottom: 50px;
}

.daily-manu .left img{
    width: 60%;
}

.daily-manu .right{
    width: 60%;
    float: right;
}

.daily-manu .right{
   font-size: 14px;
}

/* --------------------------------------------------daily box over-------------------------------------------------------------- */

/* --------------------------------------------------footer start----------------------------------------------------------------- */

.footer{
    color: #fff;
}

.footer p{
    font-size: 12px;
}

.footer #left{
    padding: 50px 0;
    float: left;
}

.footer .left{
    width: 30%;
    float: left;
}

.footer .left ul{
    padding-left: 0;
}

.footer .left ul li{
    list-style-type: none;
    line-height: 30px;
    font-weight: bold;
}

.footer .center{
    width: 40%;
    float: left;
}

.footer .right{
    width: 30%;
    float: left;
}

.right span {
    margin: 10px 0 0 15px;
    background-color: #afb0b2;
    text-align: center;
    padding: 5px 5px;
}

.my{
    padding: 20px 0 20px;
    color: #000;
    background-color: #dbdbdb;
    font-size: 20px;
    text-align: center;
}

/* ---------------------------------------------------------footer over------------------------------------------------------------------ */



/* ---------------------------------------------------------Media Query Start---------------------------------------------------------------- */

@media only screen and (max-width:800px){

    .banner-text .center h1{
        font-size: 30px;
    } 

    .footer #left{
       width: 100%;
       text-align: center;
       padding-bottom: 0px;
    }

    .daily-manu .left{
        width: 80%;
        text-align: center;
    }

    .daily-manu .right{
        width: 100%;
        padding: 10%;
        text-align: center;
    }

    .bottom .line{
        text-align: center;
    }

    .four-section .left{
        margin: 10px;
        width: 90%;
        clear: both;  
    }

    .four-section .right{
        margin: 10px;
        width: 90%;
        float: none;
        clear: both;
        padding-top: 20px; 
    }

    .right .comman img{
        width: 100%;
        height: 20%;
    }

    .three-section .left{
        margin: 20px;
        width: 90%;
        margin-bottom: 50px;
    }

    .bottom-box .left {
        width: 90%;
        margin-bottom: 50px;
        padding: 10px;
        text-align: center;
    }

    .bottom-box .right{
        width: 100%;
        text-align: center;
    }

    .bottom-box .right img{
        width: 50%;
    }

    .nav .right{
        display: none;
    }

    .banner-text .top img{
        visibility: hidden;    }


    .banner-text .center{
        text-align: center;
        position: relative;
        top: -120px;    
    }

    .banner-text .down img{
        width: 100%;
        height: 60%;
        position: relative;
        top: -170px;
    }

    .footer .right{
       margin-bottom: 40px;
    }


}


/* -------------------------------------------------------------------------------Media Query Over---------------------------------------------------- */


